CompileFlags:
    Add: [-xc++, -std=c++2b, -Weffc++]   
    Remove: -W* 
    
Diagnostics:
  ClangTidy:
    Add: [core*, google*, bugprone*, performance*, hicpp*, modernize*, misc*, altera*]
	Remove: [-bugprone-easily-swappable-parameters]
    